<div class="row">
  <div>
    <button (click)="updateBarData(fox)">Update Data</button>

    <ui-chart
      [type]="barType"
      [data]="fox | async"
      [options]="barChartOptions"
    ></ui-chart>
  </div>
  <div>
    <button (click)="updateBarData(disney)">Update Data</button>

    <ui-chart
      [type]="barType"
      [data]="disney | async"
      [options]="barChartOptions"
    ></ui-chart>
  </div>
</div>

<div class="row">
  <div>
    <button (click)="updateLineData(lineData)">Update Data</button>

    <ui-chart
      [type]="lineType"
      [data]="lineData | async"
      [options]="lineChartOptions"
    ></ui-chart>
  </div>
</div>
