<div class="row">
  <div>
    <button (click)="updateData(fox)">Update Data</button>

    <ui-chart
      [type]="type"
      [data]="fox | async"
      [options]="chartOptions"
    ></ui-chart>
  </div>
  <div>
    <button (click)="updateData(disney)">Update Data</button>

    <ui-chart
      [type]="type"
      [data]="disney | async"
      [options]="chartOptions"
    ></ui-chart>
  </div>
  <!-- <div>
    <button (click)="updateData(lineData)">Update Data</button>

    <ui-chart
      [type]="type"
      [data]="lineData | async"
      [options]="chartOptions"
    ></ui-chart>
  </div> -->
</div>
